.deco {

  /* width: 17rem; */
  top: 0px;
  position: absolute;
  right: 0px;

}

.deco2 {
  /* transform: rotate(-23deg); */
  /* width: 17rem; */
  position: absolute;
  left: 0px;
  top: -50px;

}

.deco3 {
  /* width: 17rem; */
  position: absolute;
  left: 0px;
  bottom: 0px;

}

.deco4 {
  /* width: 32rem; */
  position: absolute;
  right: -170px;
  bottom: 0px;
  z-index: 0;

}



.pillule1 {
  position: absolute;
  left: 23px;
  top: 10%;
  /* transform: translateY(-50%); */
  width: 283px;
  animation: float 3s ease-in-out infinite;
}

.pillule2 {
  position: absolute;
  left: 266px;
  bottom: 49%;
  /* transform: translateY(50%); */
  width: 90px;
  animation: float 3s ease-in-out infinite;
  animation-delay: 0.2s;

}

.pillule3 {
  position: absolute;
  left: 98px;
  top: 57%;
  /* transform: translateY(-50%); */
  width: 90px;
  animation: float 3s ease-in-out infinite;
  animation-delay: 0.4s;
}

.pillule4 {
  position: absolute;
  left: 280px;
  bottom: 11%;
  /* transform: translateY(50%); */
  width: 82px;
  animation: float 3s ease-in-out infinite;
  animation-delay: 0.6s;

}

.pillule5 {
  position: absolute;
  right: 110px;
  bottom: 69%;
  /* transform: translateY(50%); */
  width: 82px;
  animation: float 3s ease-in-out infinite;
  animation-delay: 0.8s;

}

.pillule6 {
  position: absolute;
  right: 279px;
  bottom: 53%;
  /* transform: translateY(50%); */
  width: 90px;
  animation: float 3s ease-in-out infinite;
  animation-delay: 1s;

}

.pillule7 {
  position: absolute;
  right: 117px;
  bottom: 32%;
  /* transform: translateY(50%); */
  width: 90px;
  animation: float 3s ease-in-out infinite;
  animation-delay: 1.2s;

}

.pillule8 {
  position: absolute;
  right: 269px;
  bottom: 14%;
  /* transform: translateY(50%); */
  width: 103px;
  animation: float 3s ease-in-out infinite;
  animation-delay: 1.4s;

}


@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}




@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .deco2 {
    /* transform: rotate(-23deg); */
    /* width: 17rem; */
    position: absolute;
    left: -19px;
    top: -87px;

  }

  .pillule1 {
    top: 0%;
  }

  .pillule5 {
    top: 10%;
  }

}

/* pour macbook */
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .pillule6 {
    right: 210px;
  }

  .pillule8 {
    right: 200px;
  }

  .pillule2 {
    left: 219px;
  }

  .pillule4 {
    left: 200px;
  }
}


@media (max-width: 767px) {
  .deco2 {
    /* transform: rotate(-23deg); */
    /* width: 17rem; */
    position: absolute;
    left: -19px;
    top: -87px;

  }

}

/* Pour les très petits écrans */
@media (max-width: 480px) {


  .deco {
    top: -48px;
    position: absolute;
    right: -7rem;
    width: 50%;

  }

  .deco2 {
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 60%;
  }
}

