


.icons{
    height: 100% ; 
    width: 100%;
    padding: 8px;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(196, 188, 188);
    color: black;
  }
  
  .iconscheck{
    height: 100% ; 
    padding: 10px;
    width: 100%;
    border-radius: 50%;
    background-color:green ;
    color: white;
  }
  
  
  /* teste.module.css */
  .stepicon .absolute {
    background-color: #ff0000; /* Changer la couleur de fond */
    border-radius: 10%; /* Changer le rayon de bordure */
    height: 13px; /* Ajuster la hauteur */
    /* Ajoutez d'autres styles ici */
  }
  
  
  
  /* <HeartIcon className="h-5 w-5" />} */